//テキスト全般
h1, h2 {
  font-weight: bold;
}

.text-white {
  color: #fff;
  font-size: 30px;
  //font-weight: bold;
}
.text-general{
  color: #fff;
  font-size: 25px;
  
}
.text-center {
  text-align: center;
}

.text-shadow {
  color: #fff;
  text-shadow: 2px 2px 1px #000,
    -2px 2px 1px #000,
    2px -2px 1px #000,
    -2px -2px 1px #000;
}

.sub-title {
  font-size: 30px;
}

//アラート表示
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

//ナビゲーションバー
.navbar-transparent {
  font-size: 25px;
  margin-bottom: 0px;
  background-color: #444;
  a {
    color: #fff !important;
    padding:0px;
  }
  
  .navbar-logo {
    padding: 0px;
    //margin-top: 10px;
  }
  
  img {
    height: 40px;
  }
}

.navbar-left li {
  
}

.navbar-right li {
  font-size:18px;
  }

//ボタン全般
.btn {
  margin:20px 0;
}

.edit-btn {
  margin: 10px 0 30px 0;
}

.btn-arrange {
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 5px;
  font-size: 20px;

  .input {
      margin-top: 5px;
  }
}

.btn-white {
  color: #fff;
  background-color: rgba(0,0,0,0.0);
  &:hover {
    color: #000;
    background-color: #fff;
  }
}

.btn-green {
  color:#fff; 
  background-color: rgba(0,200,0,0.8);
  &:hover {
    color: #fff;
    background-color: rgba(0,200,0,1.0);
  }
}

.btn-red {
  color:#fff; 
  background-color: rgba(200,0,0,0.8);
  &:hover {
    color: #fff;
    background-color: rgba(200,0,0,1.0);
  }
}

//フォロー関連
//フォローの統計情報
.stats {
  font-size: 20px;
  overflow: auto;
  margin: 15 auto;
  padding: 0;
  a {
    // float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: inline-block;
  }
}

//フォロー詳細ページ
.user-follow-wrapper {
  padding-top: 70px;
  background-color: #EEE;
  
  .user-follow-info {
    
  }
}

//トップページのCSS
.top-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('training.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.top-container {
  padding-top: 130px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

//トップページのサービス紹介部分
.service-introduction {
  background-color: #DDD;
  .service-title {
    .title {
      margin: 0;
      padding: 30px 0;
    }
  }
  .service-all-item {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    .item {
      width:33%;
      text-align: center;
      padding-top:20px;
      margin-bottom:30px;
      .fas {
        font-size: 80px;
        color:#990000;
      }
      .explanation {
        font-size:18px;
        padding: 20px 0;
        margin:0 5px;
      }
    
      img {
        width: 80%;
      }
    }
    /* 幅が 767px 以下であれば */
    @media(max-width:768px){
      .item {
        width:100%;
        text-align: center;
        .fas {
          font-size: 90px;
        }
        .explanation {
          font-size:20px;
          padding: 20px 0;
          margin:0 5px;
        }
        img {
          width: 100%;
          padding:10px 50px;
        } 
      }
    }
  }
}

.form-control {
  height: 45px;
}

//投稿関連

//新規投稿ページのCSS
.workout-new-wrapper {
  padding-top: 70px;
  background-color: #DDD;
  height: 87vh;
}

//投稿一覧ページ
.workout-index-wrapper {
  padding-top: 70px;
  background-color: #DDD;
  padding-bottom:20px;
  //投稿一覧
  .workout-index {
    background-color:white;
    padding-top: 20px 0;
    margin: 30px 0;
    border: 2px solid #CCC;
    border-radius: 3px;
    //投稿したユーザー名
    .workout-author {
      padding: 0 20px;
    }
     //投稿したテキスト内容
    .workout-text {
      font-size: 18px;
      padding: 10px 20px;
    }
    //画像
    img {
      padding:10px 20px ;
      width: 100%;
    }
    //いいねとコメントアイコン
    .workout-index-icon i { 
      font-size: 20px;
      width: 35px;
      height: 30px;
      padding-left: 20px;
    }
    .comment-index {
      font-size: 20px;
      padding: 0 0 10px 20px;
      .comment-single {
        font-size:15px;
        padding:10px;
      }
    }
  }
}

//投稿詳細ページ
.workout-show-wrapper {
  padding-top: 70px;
  background-color: #DDD;
  padding-bottom:20px;
  //投稿一覧
  .workout-show {
    background-color:white;
    padding-top: 20px 0;
    margin: 30px 0;
    border: 2px solid #CCC;
    border-radius: 3px;
    //投稿したユーザー名
    .workout-author {
      padding: 0 20px;
    }
     //投稿したテキスト内容
    .workout-text {
      font-size: 18px;
      padding: 10px 20px;
    }
    //画像
    img {
      padding:10px 20px ;
      width: 100%;
    }
    //いいねとコメントアイコン
    .workout-index-icon i { 
      font-size: 20px;
      width: 35px;
      height: 30px;
      padding-left: 20px;
    }
    .comment-index {
      font-size: 20px;
      padding: 0 0 10px 20px;
      .comment-single {
        font-size:15px;
        padding:10px;
      }
    }
  }
}

//***ユーザー関連***

//ユーザー新規登録ページ
.users-new-wrapper {
  height: 125vh;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;
  background-color: #999;

  .users-new-container {
    padding:20px;
    .form-group {
      margin-bottom: 20px;
    }
  }
}
//ユーザー詳細ページ
.user-top-wrapper { 
  background-color: #DDD;
  text-align: center;
  
  .user-background-image {
    position: relative; /* 子要素の起点を指定 */
    width: 100%;
    height: 240px;
  }
  
  .user-icon {
    margin-top:30px;
    border: 2px #000 solid;
    border-radius: 50%;
    width: 180px;
    height: 180px;
  }
  
  .user-name {
    font-size: 45px;
    font-weight: 500;
    margin-top: 20px;
  }
  
  .user-status {
    .status-label {
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      background: #f7f7f7;
      border-left: solid 6px #ff7c5c;/*左線*/
      color: #ff7c5c;/*文字色*/
      font-weight: bold;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
      margin: 0.5em 0 0;
    }
    
    .status-value {
      font-size: 17px;
      // font-weight: bold;
    }
    
    ul {
      padding: 0;
      list-style: none;
    }
  }
}

.user-edit-wrapper {
  background-color: #DDD;
}


//ユーザーのトレーニングデータ
.user-data-wrapper { 
  background-color: #DDD;
  text-align: center; 
  .data-menu {
    width: 85%;
    margin: 0 auto 20px;
    font-weight: bold;
    padding: 0.5em 1em;
    border-top: solid 4px #000;
    border-bottom: solid 4px #000;
    background: #fff;
  }
  .sub-menu {
    display: flex;
    .one-menu {
      width:50%;
      text-align: center;  
      .explanation {
        width:70%;
        margin:auto;
        font-weight: bold;
        padding: 0.5em 1em;
        border-top: solid 4px #000;
        border-bottom: solid 4px #000;
        background: #fff;        
      }
      img{
        width:70%;
        margin:10px;
      }
    }
  }
}

//ユーザーの投稿
.user-workout-wrapper {
  background-color: #DDD;
  .user-name {
    padding-top:20px;
    text-align: center;
    font-size:35px;
    font-weight:bold;
  }
  .not-workout {
    text-align:center;
    font-size:25px;
    padding: 20px;
  }
}
//ユーザー一覧ページ
.users-index-wrapper {
  padding-top: 70px;
  background-color: #DDD;
  .user-index-single{
    margin-bottom:20px;
    background-color: white;
    padding:20px;
    font-size:18px;
    color: #white;
    border: solid 2px #CCC;
  }
}

//ユーザーのトレーニングメニューセット
.menu-new-wrapper {
  background-color:#DDD;
}

//トレーニングメニュー一覧
.menu-index-wrapper {
  background-color:#DDD;
  
  .add-training {
    padding:20px;
  }
  .menu-index {
    background-color:white;
    padding:20px;
    margin: 30px 0;
    border: 2px solid #CCC;
    border-radius: 3px;
  }
}

//いいね一覧ページ
.likes-index-wrapper {
  padding-bottom: 20px;
  padding-top: 70px;
  background-color: #DDD;
  .like_workouts-index {
    background-color: white;
    margin: 30px 0;
    border: 2px solid #DDD;
    border-radius: 3px;
    //投稿したユーザー名
    .workout-author {
      padding-left:20px;
    }
     //投稿したテキスト内容
    .workout-text {
      font-size:18px;
      padding: 10px 20px;
    }
    img {
      width: 100%;
      padding:10px 20px ;
    }
    //いいねとコメントアイコン
    .workout-index-icon i { 
      font-size: 20px;
      width: 35px;
      height: 30px;
      padding-left: 20px;
    }
    .comment-index {
      font-size: 20px;
      padding: 0 0 10px 20px;
      .comment-single {
        font-size:15px;
        padding:10px;
      }
    }
  }
}

//***体重グラフ***

.weight-top-wrapper {
  background-color:#DDD;
  .weight-data-create {
    background-color:white;
  }
  
  
}
.weight-new-wrapper {
  height:87vh;
  padding-top: 70px;
  background-color: #DDD;
}

//ページネーションのデザイン
.pagination li a {
  border: none;   //枠線をなくす
  color: #696969; //文字の色を帰る
}

//表示しているページ番号のデザイン
.pagination active a {
  background: #93c9ff; //背景の色
  border-radius: 15px; //角を丸くする
}

//ホバー時のデザイン
.pagination li a:hover {
  border-radius: 15px; //角を丸くする
}

//フッター
.footer {
  padding:10px 0;
  background-color:#009;
  color: white;   
  font-size:20px;
}